
/* Setup Styles  */

body {
	background-color: #FFFFFF;
	font-family:'Open Sans',sans-serif;
}

a:hover,a:active, a:focus{
	text-decoration: none;
    outline: none;
}


h2,h3,h4,h5,h6 {
	font-weight:300;
}

h1 {
	font-weight:bold;
	font-size:96px;
	text-align:center;
	line-height:100px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:30px;
}

h2 {
	font-weight:bold;
	font-size:50px;
	text-align:center;
	line-height:55px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:30px;
}

.dark {
	color:#fff;
}

.center {
	float:none;
	margin:0 auto;
}

/* Section Styles  */

#intro {
	margin-top:100px;
	text-align:center;
	min-height:400px;
	padding:0 0 50px;
}

#intro h1 {
	color:#eeeeee;
}

#intro p {
    color:#333333;
    font-size: 28px;
    font-weight: 300;
    padding: 15px 0 50px;
    line-height: 35px;
}

#about {
	background:#fff;
}

#team {
	background:#000;
	background:rgba(0,0,0,0.8);
}
#contact {
	background:#202020;
}
#footer {
    padding-top: 20px;
    background:#202020;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}

#footer i {
    color: #990000;
}


/* Navbar Styles  */

.navbar-fixed-top {
	margin-bottom:0;
	border-top: 4px solid #0044cc;
	position: fixed;
}

.navbar-fixed-top.scroll {
	opacity:.96;
}

.navbar-inner {
	border-bottom:0 none;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	filter:none;
	padding:8px 0 30px;
	background:#0d0d0d;
	background:rgba(13,13,13,0.9);
}

.navbar .brand {
	font-size:19px;
	font-weight: 300;
	text-shadow:none;
	padding:20px 0 0;
	font-family: raleway;
	color: #fff!important;
}

.navbar .nav.pull-right {
	top:10px;
}

.navbar .nav > li > a {
	color:#F8F8F8;
	font-size:15px;
	font-weight:300;
	text-shadow:none;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}

.navbar .nav li a:hover,.navbar .nav li a:focus{
	color:#F8F8F8;	
}

.navbar .nav > li > a:hover {
	color:#ccc;
}


.navbar .nav > li.active > a,.navbar .nav > li.active:hover > a,.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus {
	padding-bottom:4px;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-shadow:none;
	background:none;
	color:#fff;
}

.btn-dropnav {
	float:right;
	margin-left:5px;
	margin-right:5px;
	padding:7px 10px;
	display:none;
}

.btn-dropnav .icon-bar {
	background-color:#F5F5F5;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	box-shadow:0 1px 0 rgba(0,0,0,0.25);
	display:block;
	height:2px;
	width:18px;
}

.btn-dropnav .icon-bar + .icon-bar {
	margin-top:3px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background:none;
	color:#fff;
}

.navbar .btn-navbar .icon-bar {
	display:block;
	width:18px;
	height:2px;
	background-color:#5FAF08;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.navbar .btn-navbar {
	margin-right: 30px;
}


.thumbnail {
	text-align:center;
	border:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
}

@media (max-width: 979px) {

	.nav-collapse .nav > li > a:hover,.nav-collapse .dropdown-menu a:hover {
		background:none!important;
	}
	
	.nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
		color:#ccc;
	}
	
	.navbar .brand {
		padding:8px 0 0 40px;
	}
	
	body {
		padding-right:0;
		padding-left:0;
		background-size:300%;
	}
	
	#intro {
	margin-top:45px;
	}
}

@media (max-width: 767px) {
	body {
		padding-right:0;
		padding-left:0;
		background-size:500%;
	}
	
}

@media (max-width: 480px) {
	body {
		background-size:800%;
	}

    h1 {
        font-size: 72px;
    }

}

.btn-xlarge {
	padding:20px 40px;
	font-size:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/*	Team Social Icon Styles */


.social{
	text-align: center;
}
.social img {
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	-ms-transition:all .5s ease;
	transition:all .5s ease;
	margin-right: 4px;
}

.social img:hover {
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	-o-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform:rotate(-15deg);
}

/*	BigVideo Styles */


#big-video-wrap {
	overflow:hidden;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
}

#big-video-vid,#big-video-image {
	position:absolute;
}

#big-video-control-container {
	position:fixed;
	bottom:20px;
	padding:0 20px;
	width:100%;
	-webkit-transition-duration:.6s;
	-moz-transition-duration:.6s;
	-ms-transition-duration:.6s;
	-o-transition-duration:.6s;
	transition-duration:.6s;
}

#big-video-control {
	width:100%;
	height:16px;
	position:relative;
	display:none;
}

.large-icon {
    font-size: 120px;
}

#screencast {
    left: 50%;
    margin-left: -427px;
    margin-bottom: 40px;
    position: relative;
}


#big-sell {
    min-height: 750px;
    text-align: center;
    background: #f0f0f0;
    width: 100% !important;
    margin-top: -60px;
    font-size: 12px;
}

#big-sell div {
    color: #555555;
}

.strong-heading {
    font-weight: bold;
    font-size: 32px;
    color: #555555;
    text-align: center;
    line-height: 150%;
}

#big-sell #tagline {
    margin-top: 40px;
}

#big-sell #details a {
    margin-left: 10px;
    margin-right: 10px;
}

#big-sell p#links {
    padding-top: 30px;
    line-height: 100%;
    display: block;
}
#big-sell p#worksOn i {
    font-size: 16px;
    padding-left: 3px;
    padding-right: 3px;
}
#big-sell p#news {
    display: block;
    margin-top: -5px;
}

.btn-jumbo {
    font-size: 20px;
    padding: 14px 24px;
    margin: 20px 5px;
    border-radius: 6px;
}

#tagline-long {
    margin-bottom: 30px;
    font-size: 24px;
}

#top3 {
    text-align: center;
}

#top3 i {
    font-size: 120px;
    margin-bottom: 20px;
    color: #004A7C;
}

#top3 p {
}

#top3details {
    line-height: 150%;
    font-size: 18px;
}

#top3buttons {
    text-align: center;
    margin-bottom: 100px;
}

#top3buttons i {
    color: #555555;
}

.container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-shaded {
    background-color: #99B6CA;
    color: white;
}