
/* Setup Styles  */

html {
    height: 100%;
}

body {
    height: 100%;
	font-family:'Open Sans',sans-serif;
}

a {
	color: #008BC0;
}

a:hover,a:active,a:focus{
	text-decoration: none;
    outline: none;
}


h1 {
}

h2 {
	font-weight: bold;
	font-size: 24px;
	color: #004A7C;
	line-height: 150%;
}

h3,h4,h5,h6 {
	font-weight:300;
}

pre.prettyprint {
    padding: 5px;
    border: 1px solid #CCC;
}

hr.soften {
	height: 1px;
	margin: 54px 0;
	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 74, 124, .1), transparent);
	background-image: -moz-linear-gradient(left, transparent, rgba(0, 74, 124, .1), transparent);
	background-image: -ms-linear-gradient(left, transparent, rgba(0, 74, 124, .1), transparent);
	background-image: -o-linear-gradient(left, transparent, rgba(0, 74, 124, .1), transparent);
	background-image: linear-gradient(left, transparent, rgba(0, 74, 124, .1), transparent);
	border: 0;
}

.dark {
	color:#fff;
}

.right {
	text-align: right;
}

#video {
	background-color: #008BC0;
	padding-top: 60px;
	padding-bottom: 40px;
	margin-bottom: 30px;
	text-align: center;
}

#screencast {
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	border-color: #99B6CA;
	border-width: 20px;
	border-radius: 20px;
	border-style: solid;
}

.center {
	text-align: center;
}

/* Section Styles  */

#intro {
	margin-top:100px;
	text-align:center;
	min-height:400px;
	padding:0 0 50px;
}

#intro h1 {
	color:#eeeeee;
}

#intro p {
    color:#333333;
    font-size: 28px;
    font-weight: 300;
    padding: 15px 0 50px;
    line-height: 35px;
}

#about {
	background:#fff;
}

#team {
	background:#000;
	background:rgba(0,0,0,0.8);
}
#contact {
	background:#202020;
}

#wrapper {
    min-height: 100%;
    margin: 0 auto -170px;
}

#push {
    height: 170px;
}

#footer {
    clear: both;
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    height: 170px;
}

#footer-spacer {
	height: 40px;
}

#footer-info {
	padding-top: 20px;
	padding-bottom: 10px;
	background:#202020;
	height: 130px;
}

#footer i {
    color: #990000;
}

#logo {
	margin-top: 4px;
}

.btn-flat {
	border: 1px solid;
}

/* Navbar Styles  */

.navbar-fixed-top {
	margin-bottom:0;
	border-top: 4px solid #0044cc;
	position: fixed;
}

.navbar-fixed-top.scroll {
	opacity:.96;
}

.navbar-inner {
	border-bottom:0 none;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	filter:none;
	padding:8px 0 30px;
	background:#0d0d0d;
	background:rgba(13,13,13,0.9);
}

.navbar .brand {
	font-size:19px;
	font-weight: 300;
	text-shadow:none;
	padding:20px 0 0;
	font-family: raleway;
	color: #fff!important;
}

.navbar .nav.pull-right {
	top:10px;
}

.navbar .nav > li > a {
	color:#F8F8F8;
	font-size:15px;
	font-weight:300;
	text-shadow:none;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}

.navbar .nav li a:hover,.navbar .nav li a:focus{
	color:#F8F8F8;	
}

.navbar .nav > li > a:hover {
	color:#ccc;
}


.navbar .nav > li.active > a,.navbar .nav > li.active:hover > a,.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus {
	padding-bottom:4px;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-shadow:none;
	background:none;
	color:#fff;
}

#navbar-login {
	margin-left: 20px;
}

.btn-dropnav {
	float:right;
	margin-left:5px;
	margin-right:5px;
	padding:7px 10px;
	display:none;
}

.btn-dropnav .icon-bar {
	background-color:#F5F5F5;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	box-shadow:0 1px 0 rgba(0,0,0,0.25);
	display:block;
	height:2px;
	width:18px;
}

.btn-dropnav .icon-bar + .icon-bar {
	margin-top:3px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background:none;
	color:#fff;
}

.navbar .btn-navbar .icon-bar {
	display:block;
	width:18px;
	height:2px;
	background-color:#5FAF08;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.navbar .btn-navbar {
	margin-right: 30px;
}

.navbar-btn>a {
	font-size: 16px;
	margin-top: -3px;
}

.thumbnail {
	text-align:center;
	border:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
}

@media (max-width: 979px) {

	.nav-collapse .nav > li > a:hover,.nav-collapse .dropdown-menu a:hover {
		background:none!important;
	}
	
	.nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
		color:#ccc;
	}
	
	.navbar .brand {
		padding:8px 0 0 40px;
	}
	
	body {
		padding-right:0;
		padding-left:0;
		background-size:300%;
	}
	
	#intro {
	margin-top:45px;
	}
}

@media (max-width: 767px) {
	body {
		padding-right:0;
		padding-left:0;
		background-size:500%;
	}
	
}

@media (max-width: 480px) {
	body {
		background-size:800%;
	}

    h1 {
        font-size: 72px;
    }

    #big-sell-logo {
        width: 100%;
    }

    #tagline {
        font-size: 24px;
    }

    #big-sell button {
        font-size: 16px;
    }

    #screencast {
        width: 100%;
        left: 0;
        margin-left: 0;
        height: 200px;
    }

}

.btn-xlarge {
	padding:20px 40px;
	font-size:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

#social-buttons td {
	padding-right: 20px;
}

.large-icon {
    font-size: 120px;
}


#big-sell {
    min-height: 600px;
    text-align: center;
    width: 100% !important;
}

#big-sell img {
    margin-top: -60px;
}

#big-sell div {
    color: #555555;
}

.strong-heading {
    font-weight: bold;
    font-size: 32px;
    color: #004A7C;
    text-align: center;
    line-height: 150%;
}

.sub-heading {
    font-size: 24px;
    color: #99B6CA;
    text-align: center;
    line-height: 150%;
	margin-top: 0;
	margin-bottom: 50px;
}

.advantage {
	margin-top: 80px;
	margin-bottom: 120px;
}
.advantage img {
	max-width: 95%;
	margin-top: 20px;
}

.advantage-right {
	text-align: right;
}

.advantage i {
	font-size: 20px;
	vertical-align: middle;
	margin-top: -4px;
}

.advantage-heading {
	font-size: 20px;
	font-weight: bold;
	color: #555;
	margin-bottom: 10px;
}

.advantage-description {
	line-height: 150%;
}

#big-sell #tagline {
	margin-top: 100px;
	color: #004A7C;
	font-size: 44px;
	font-weight: bold;
}

#big-sell #tagline2 {
	margin-top: 20px;
    margin-bottom: 70px;
	color: #008BC0;
	font-size: 24px;
}

#big-sell #details a {
    margin-left: 10px;
    margin-right: 10px;
}

#big-sell p#links {
    padding-top: 30px;
    line-height: 100%;
    display: block;
}
#big-sell p#worksOn i {
    font-size: 16px;
    padding-left: 3px;
    padding-right: 3px;
}
#big-sell p#news {
    display: block;
    margin-top: -5px;
}

.btn-jumbo {
    font-size: 20px;
    padding: 14px 24px;
    margin: 20px 5px;
    border-radius: 6px;
}

#tagline-long {
    margin-bottom: 30px;
	color: #444;
}

#top3 {
    text-align: center;
}

#top3 i {
    font-size: 120px;
    margin-bottom: 20px;
    color: #004A7C;
}

.top3-heading {
	font-weight: bold;
	font-size: 24px;
	color: #004A7C;
	text-align: center;
	line-height: 150%;
}

.top3-details {
    line-height: 150%;
    font-size: 18px;
}

#top3buttons {
    text-align: center;
    margin-bottom: 100px;
}

#top3buttons i {
    color: #555555;
}

.container-padded {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-shaded {
    background-color: #99B6CA;
    color: white;
}

#menu.well {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu.well ul.nav {
    float: none;
    margin-top: 0;
}

#menu .date {
    font-size: 10px;
}

.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#header {
    padding-top: 15px;
}

#header ul {
    margin-top: 10px;
}

.nav-tabs {
    font-size: 18px;
	border-bottom: 0;
}

.nav-tabs>li>a {
	border-radius: 4px;
}

.nav-tabs>li>a:hover {
	border-color: #eee;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
	border-color: #aaa;
	background-color: #aaa;
	color: #fff;
}

.nav-pills.nav-stacked {
    font-size: 16px;
}

.nav-pills.nav-stacked>li>a {
    border-radius: 0;
}

.nav-pills.nav-stacked>li>a:hover {
    background-color: #dddddd;
}

.nav-pills.nav-stacked>li.active>a:hover {
    background-color: #428bca;
}

.nav-pills-bar {
    margin-bottom: 20px;
}

.nav-pills-bar>li>a {
    padding: 7px 10px;
}

.nav-stacked>li.nav-header {
	font-weight: bold;
	margin-top: 30px;
	text-transform: uppercase;
	background-color: #f0f0f0;
	padding: 10px 15px;
	font-size: 13px;
}

.doc-title {
    margin-top: -5px;
    font-size: 36px;
    font-weight: 400;
}

.doc-section {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

#learn {
    padding-top: 40px;
}

.next-steps {
    margin-top: 40px;
    margin-bottom: 40px;
}

pre.console {
    background: #555;
    color: white;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.standards img {
	margin-left: 20px;
	margin-right: 20px;
	height: 50px;
}

.runson {
	margin-top: 50px;
	font-size: 20px;
	color: #99B6CA;
}

.runson i {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 28px;
	color: #555;
}

.legal {
    padding-top: 50px;
    padding-bottom: 50px;
}

.final-cta {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.pricing-hint {
	color: #ccc;
}

.blog {
	margin-top: 50px;
}

.blog-post-date {
	font-size: 14px;
	font-weight: bold;
	color: #aaaaaa;
}

.blog-post-title {
	color: #004A7C;
	font-size: 36px;
	margin-bottom: 50px;
	font-weight: 600;
}

.blog-post-subtitle {
	color: #888;
	font-size: 28px;
	font-weight: bold;
}

.blog-post-section {
	margin-top: 60px;
	font-weight: 400;
	font-size: 28px;
}

.blog-post-image {
	margin-top: 20px;
	margin-bottom: 20px;
}

.blog-post-image img {
	max-width: 100%;
}

#blog-post-nav {
	margin-top: 30px;
}

#blog-post-previous {
	float: left;
}

#blog-post-next {
	float: right;
}

.blog-sidebar-subtitle {
	font-size: 12px;
}

#mc_embed_signup_scroll label {
	font-size: 12px;
}

#mc_embed_signup_scroll .btn {
	margin-top: 4px;
}

#mc_embed_signup_scroll-footer {
	margin-top: 50px;
}

.stackoverflow-tag {
	color: #566e76;
	background: #f7fdff;
	border: 1px solid #c0d4db;
	padding: .4em .5em;
	border-radius: 15px;
	text-align: center;
	line-height: 1;
	color: #3e6d8e;
	background-color: #e4edf4;
	margin: 2px 2px 2px 0;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	border-radius: 0;
	border: 1px solid #e4edf4;
}


.stackoverflow-tag:hover {
	color: #3e6d8e;
	background-color: #dae6ef;
	border: 1px solid #dae6ef;
}

#pricing {
	margin-top: 50px;
	text-align: center;
}

#pricing-subtitle {
	font-size: 20px;
	color: #888;
	margin-bottom: 50px;
}

#pricing .plan {
	border: 1px #ccc solid;
	min-height: 295px;
	background-color: #f8f8f8;
	margin-left: -7px;
	margin-right: -7px;
}

#pricing .plan.plan-featured {
	margin-top: -10px;
	margin-left: -12px;
	margin-right: -12px;
	padding-bottom: 10px;
}

#pricing .plan.plan-featured .plan-name {
	padding-top: 16px;
	font-size: 36px;
	background-color: #004A7C;
}

#pricing .plan-name {
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #008BC0;
	color: white;
	margin: -1px;
}

#pricing .plan-price {
	font-size: 14px;
}

#pricing .plan-feature {
	padding-top: 10px;
	padding-bottom: 10px;
}

#pricing .num {
	font-weight: bold;
}

#pricing .plan-price .num {
	font-size: 150%;
}

#pricing .plan-feature .num {
	font-size: 250%;
	color: #888;
}

#pricing .plan-feature .name {
	font-weight: bold;
	font-size: 175%;
	color: #888;
}

#pricing-note {
	color: #888;
	margin-top: 30px;
}

#events h1 {
	margin-top: 30px;
	padding-bottom: 10px;
	width: 90%;
	border-bottom: #ccc 3px solid;
}

#events h2 {
	margin-top: 0;
}

#events img {
	max-width: 90%;
	text-align: center;
	padding-top: 10px;}

#events .row {
	margin-top: 40px;
	margin-bottom: 100px;
}

#events .row>.col-md-4 {
	text-align: center;
}

.marketing-testimonial-stripe {
	margin-top: 100px;
	height: 260px;
	width: 100%;
	background: #004A7C;
}

.marketing-testimonial-stripe-4 {
	height: 290px;
}

.marketing-testimonial {
	margin-top: -230px;
	margin-bottom: 100px;
}

.marketing-testimonial-4 {
	margin-top: -260px;
}

@media (max-width: 979px) {
	.marketing-testimonial-stripe {
		height: 430px;
		background: #004A7C;
	}

	.marketing-testimonial-stripe-4 {
		height: 480px;
	}

	.marketing-testimonial {
		margin-top: -415px;
		margin-bottom: 100px;
	}

	.marketing-testimonial-4 {
		margin-top: -460px;
	}

	.marketing-testimonial .col-md-2 {
		text-align: center;
	}

}

@media (max-width: 768px) {
	.marketing-testimonial-stripe {
		margin-top: 100px;
		height: 0;
	}

	.marketing-testimonial {
		padding-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 100px;
		background: #004A7C;
		margin-top: 0;
	}

	.marketing-testimonial-4 {
	}
}

.marketing-testimonial blockquote {
	border-left: 0;
	margin-top: 20px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	font-style: italic;
	font-size: 20px;
	line-height: 150%;
	color: #fff;
}
.marketing-testimonial blockquote:before {
	color: #ccc;
	width: 28px;
	content: "\201C";
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

.marketing-testimonial blockquote p {
	display: inline;
}

.marketing-testimonial img {
	margin-top: 25px;
	width: 150px;
}

.marketing-testimonial p {
	color: #99B6CA;
	margin-left: 10px;
	font-size: 16px;
}

.marketing-testimonial a {
	color: #99B6CA;
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
}