---
layout: default
tab: blog
title2: Blog
---
<div id="blog" class="container">
    <div class="row">
        <div class="col-md-9">
            <p class="blog-post-date">{{page.date | date: "%Y-%m-%d"}}</p>
            <h1>{{ page.subtitle }}{% if page.parttitle %} <br/><span class="blog-post-subtitle">{{page.parttitle}}</span> {% endif %}</h1>

            {{ content }}

            <div id="social-buttons">
                <table>
                    <tr>
                        <td>
                            <a href="https://twitter.com/share" class="twitter-share-button"
                               data-text="{{ page.subtitle }} {% if page.parttitle %}- {{page.parttitle}} {% endif %}by @boxfuse"></a>
                            <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, "script", "twitter-wjs");</script>
                        </td>
                        <td>
                            <g:plusone size="medium"></g:plusone>
                            <script type="text/javascript">
                                (function () {
                                    var po = document.createElement('script');
                                    po.type = 'text/javascript';
                                    po.async = true;
                                    po.src = 'https://apis.google.com/js/plusone.js';
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(po, s);
                                })();
                            </script>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="//boxfuse.us9.list-manage.com/subscribe/post?u=0e72f61962b6b47f78568d56c&amp;id=5641e8645a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-title">Keep me updated!</div>
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
                            <p style="color: #ccc; margin-top: 5px">News about Boxfuse. Interesting posts with low frequency. Unsubscribe at any time.</p>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_0e72f61962b6b47f78568d56c_5641e8645a" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->

            <div id="blog-post-nav">
                {% if page.previous %}
                <div id="blog-post-previous">
                    <a href="{{page.previous.url | split: '.html'}}">« {{ page.previous.subtitle }} {% if page.previous.parttitle %} <br/> <span class="blog-sidebar-subtitle">{{ page.previous.parttitle }}</span>{% endif %}</a>
                </div>
                {% endif %}

                {% if page.next %}
                <div id="blog-post-next">
                    <a href="{{page.next.url | split: '.html'}}">{{ page.next.subtitle }} »{% if page.next.parttitle %}<br/> <span class="blog-sidebar-subtitle">{{ page.next.parttitle }}</span>{% endif %}</a>
                </div>
                {% endif %}

                <div id="blog-feed" class="center">
                    <a href="/blog/atom.xml"><i class="fa fa-rss"></i></a>
                    <a href="/blog/atom.xml">RSS Feed</a>
                </div>
            </div>
        </div>
        <div id="blog-sidebar" class="col-md-3">

            <div class="blog-post-section">Recent posts</div>
            <div id="menu">
                <ul class="nav nav-pills nav-stacked">
                    {% for post in site.posts %}
                    <li
                    {% if page.permalink == post.permalink %} class="active" {% endif %}>
                    <a href="{{ post.permalink | split: '.html' }}"><span class="date">{{ post.date | date: "%Y-%m-%d" }}</span><br/>{{ post.subtitle | xml_escape }} {% if post.parttitle %} <br/> <span class="blog-sidebar-subtitle">{{ post.parttitle }}</span>{% endif %}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>