---
layout: docs
menu: commandline
subtitle: 'Command-line client'
---
<div id="getstarted-cli">
    <ul class="nav nav-pills nav-pills-bar">
        <li role="presentation" {% if page.pill == 'Overview' %} class="active" {% endif %}><a href="/docs/commandline">Overview</a></li>
        <li role="presentation" {% if page.pill == 'create' %} class="active" {% endif %}><a href="/docs/commandline/create">create</a></li>
        <li role="presentation" {% if page.pill == 'info' %} class="active" {% endif %}><a href="/docs/commandline/info">info</a></li>
        <li role="presentation" {% if page.pill == 'cfg' %} class="active" {% endif %}><a href="/docs/commandline/cfg">cfg</a></li>
        <li role="presentation" {% if page.pill == 'fuse' %} class="active" {% endif %}><a href="/docs/commandline/fuse">fuse</a></li>
        <li role="presentation" {% if page.pill == 'ls' %} class="active" {% endif %}><a href="/docs/commandline/ls">ls</a></li>
        <li role="presentation" {% if page.pill == 'push' %} class="active" {% endif %}><a href="/docs/commandline/push">push</a></li>
        <li role="presentation" {% if page.pill == 'convert' %} class="active" {% endif %}><a href="/docs/commandline/convert">convert</a></li>
        <li role="presentation" {% if page.pill == 'pull' %} class="active" {% endif %}><a href="/docs/commandline/pull">pull</a></li>
        <li role="presentation" {% if page.pill == 'rm' %} class="active" {% endif %}><a href="/docs/commandline/rm">rm</a></li>
        <li role="presentation" {% if page.pill == 'run' %} class="active" {% endif %}><a href="/docs/commandline/run">run</a></li>
        <li role="presentation" {% if page.pill == 'scale' %} class="active" {% endif %}><a href="/docs/commandline/scale">scale</a></li>
        <li role="presentation" {% if page.pill == 'ps' %} class="active" {% endif %}><a href="/docs/commandline/ps">ps</a></li>
        <li role="presentation" {% if page.pill == 'kill' %} class="active" {% endif %}><a href="/docs/commandline/kill">kill</a></li>
        <li role="presentation" {% if page.pill == 'open' %} class="active" {% endif %}><a href="/docs/commandline/open">open</a></li>
        <li role="presentation" {% if page.pill == 'logs' %} class="active" {% endif %}><a href="/docs/commandline/logs">logs</a></li>
        <li role="presentation" {% if page.pill == 'destroy' %} class="active" {% endif %}><a href="/docs/commandline/destroy">destroy</a></li>
        <li role="presentation" {% if page.pill == 'inventory' %} class="active" {% endif %}><a href="/docs/commandline/inventory">inventory</a></li>
    </ul>

    {{ content }}
</div>