---
layout: default
tab: docs
title2: Documentation
---
<div id="docs" class="container">
    <div class="row">
        <div class="col-md-2">
            <div id="menu">
                <ul class="nav nav-pills nav-stacked">
                    <li {% if page.menu == 'overview' %} class="active" {% endif %}><a href="/docs">Overview</a></li>
                    <li {% if page.menu == 'apptypes' %} class="active" {% endif %}><a href="/docs/apptypes">App Types</a></li>
                    <li {% if page.menu == 'environments' %} class="active" {% endif %}><a href="/docs/environments">Environments</a></li>
                    <li {% if page.menu == 'commands' %} class="active" {% endif %}><a href="/docs/commands">Commands</a></li>

                    <li class="nav-header">JVM</li>
                    <li {% if page.menu == 'springboot' %} class="active" {% endif %}><a href="/docs/payloads/springboot">Spring Boot</a></li>
                    <li {% if page.menu == 'jhipster' %} class="active" {% endif %}><a href="/docs/payloads/jhipster">JHipster</a></li>
                    <li {% if page.menu == 'grails' %} class="active" {% endif %}><a href="/docs/payloads/grails">Grails</a></li>
                    <li {% if page.menu == 'dropwizard' %} class="active" {% endif %}><a href="/docs/payloads/dropwizard">Dropwizard</a></li>
                    <li {% if page.menu == 'play' %} class="active" {% endif %}><a href="/docs/payloads/play">Play</a></li>
                    <li {% if page.menu == 'tomcat' %} class="active" {% endif %}><a href="/docs/payloads/tomcat">Tomcat</a></li>
                    <li {% if page.menu == 'tomee' %} class="active" {% endif %}><a href="/docs/payloads/tomee">TomEE</a></li>
                    <li {% if page.menu == 'jar' %} class="active" {% endif %}><a href="/docs/payloads/jar">Executable Jar</a></li>

                    <li class="nav-header">Node.js</li>
                    <li {% if page.menu == 'nodejs' %} class="active" {% endif %}><a href="/docs/payloads/nodejs">Node.js</a></li>

                    <li class="nav-header">Go</li>
                    <li {% if page.menu == 'elf64' %} class="active" {% endif %}><a href="/docs/payloads/elf64">ELF64 Binary</a></li>
                    <li {% if page.menu == 'revel' %} class="active" {% endif %}><a href="/docs/payloads/revel">Revel</a></li>

                    <li class="nav-header">Generic</li>
                    <li {% if page.menu == 'linux-x64' %} class="active" {% endif %}><a href="/docs/payloads/linux-x64">Linux x64</a></li>

                    <li class="nav-header">Clients</li>
                    <li {% if layout.menu == 'commandline' %} class="active" {% endif %}><a href="/docs/commandline">Command-line</a></li>
                    <li {% if layout.menu == 'maven' %} class="active" {% endif %}><a href="/docs/maven">Maven</a></li>
                    <li {% if layout.menu == 'gradle' %} class="active" {% endif %}><a href="/docs/gradle">Gradle</a></li>

                    <li class="nav-header">Platforms</li>
                    <li {% if page.menu == 'virtualbox' %} class="active" {% endif %}><a href="/docs/virtualbox">VirtualBox</a></li>
                    <li {% if page.menu == 'hyperv' %} class="active" {% endif %}><a href="/docs/hyperv">Hyper-V</a></li>
                    <li {% if page.menu == 'aws' %} class="active" {% endif %}><a href="/docs/aws">AWS</a></li>

                    <li class="nav-header">Solutions</li>
                    <li {% if page.menu == 'domains' %} class="active" {% endif %}><a href="/docs/domains">Custom Domains</a></li>
                    <li {% if page.menu == 'tls' %} class="active" {% endif %}><a href="/docs/tls">TLS (SSL) Certificates</a></li>
                    <li {% if page.menu == 'databases' %} class="active" {% endif %}><a href="/docs/databases">Databases</a></li>
                    <li {% if page.menu == 'filestorage' %} class="active" {% endif %}><a href="/docs/filestorage">File Storage</a></li>
                    <li {% if page.menu == 'debugging' %} class="active" {% endif %}><a href="/docs/debugging">Debugging</a></li>
                    <li {% if page.menu == 'profiling' %} class="active" {% endif %}><a href="/docs/profiling">Profiling</a></li>
                    <li {% if page.menu == 'live' %} class="active" {% endif %}><a href="/docs/live">Live Reloading</a></li-->
                    <li {% if page.menu == 'autoscaling' %} class="active" {% endif %}><a href="/docs/autoscaling">Auto-Scaling</a></li>
                    <li {% if page.menu == 'travisci' %} class="active" {% endif %}><a href="/docs/travisci">Travis CI</a></li>
                    <li {% if page.menu == 'newrelic' %} class="active" {% endif %}><a href="/docs/newrelic">New Relic</a></li>

                    <li class="nav-header">Learn More</li>
                    <li {% if page.menu == 'articles' %} class="active" {% endif %}><a href="/docs/articles">Articles</a></li>
                    <li {% if page.menu == 'videos' %} class="active" {% endif %}><a href="/docs/videos">Videos &amp; Slides</a></li>
                    <li {% if page.menu == 'faq' %} class="active" {% endif %}><a href="/docs/faq">FAQ</a></li>
                    <li {% if page.menu == 'releasenotes' %} class="active" {% endif %}><a href="/docs/releasenotes">Release Notes</a></li>
                </ul>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <div class="col-md-10">

            {% if page.subtitle %}<h1>{{ page.subtitle }}</h1>{% endif %}

            {{ content }}

        </div>
    </div>
</div>