---
layout: default
tab: getstarted
title2: Get Started
---
<div id="getstarted" class="container">
    <div class="row">
        <div class="col-md-2">
            <div id="menu">
                <ul class="nav nav-pills nav-stacked">
                    <li {% if page.menu == 'overview' %} class="active" {% endif %}><a href="/getstarted">Overview</a></li>
                    <li {% if page.menu == 'download' %} class="active" {% endif %}><a href="/getstarted/download">Download</a></li>

                    <li class="nav-header">Get Started</li>
                    <li {% if page.menu == 'springboot' %} class="active" {% endif %}><a href="/getstarted/springboot">Spring Boot</a></li>
                    <li {% if page.menu == 'jhipster' %} class="active" {% endif %}><a href="/getstarted/jhipster">JHipster</a></li>
                    <li {% if page.menu == 'grails' %} class="active" {% endif %}><a href="/getstarted/grails">Grails</a></li>
                    <li {% if page.menu == 'dropwizard' %} class="active" {% endif %}><a href="/getstarted/dropwizard">Dropwizard</a></li>
                    <li {% if page.menu == 'play' %} class="active" {% endif %}><a href="/getstarted/play">Play</a></li>
                    <!--
                    <li {% if page.menu == 'tomcat' %} class="active" {% endif %}><a href="/docs/payloads/tomcat">Tomcat</a></li>
                    <li {% if page.menu == 'tomee' %} class="active" {% endif %}><a href="/docs/payloads/tomee">TomEE</a></li>
                    <li {% if page.menu == 'jar' %} class="active" {% endif %}><a href="/docs/payloads/jar">Executable Jar</a></li>
                    -->
                    <li {% if page.menu == 'nodejs' %} class="active" {% endif %}><a href="/getstarted/nodejs">Node.js</a></li>
                    <li {% if page.menu == 'go' %} class="active" {% endif %}><a href="/getstarted/go">Go</a></li>
                    <li {% if page.menu == 'revel' %} class="active" {% endif %}><a href="/getstarted/revel">Revel</a></li>
                </ul>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <div class="col-md-10">

            {% if page.subtitle %}<h1>{{ page.subtitle }}</h1>{% endif %}

            {{ content }}

        </div>
    </div>
</div>