---
layout: docs
menu: gradle
subtitle: 'Gradle plugin'
---
<div id="getstarted-gradle">
    <ul class="nav nav-pills nav-pills-bar">
        <li role="presentation" {% if page.pill == 'Overview' %} class="active" {% endif %}><a href="/docs/gradle">Overview</a></li>
        <li role="presentation" {% if page.pill == 'create' %} class="active" {% endif %}><a href="/docs/gradle/create">create</a></li>
        <li role="presentation" {% if page.pill == 'info' %} class="active" {% endif %}><a href="/docs/gradle/info">info</a></li>
        <li role="presentation" {% if page.pill == 'cfg' %} class="active" {% endif %}><a href="/docs/gradle/cfg">cfg</a></li>
        <li role="presentation" {% if page.pill == 'fuse' %} class="active" {% endif %}><a href="/docs/gradle/fuse">fuse</a></li>
        <li role="presentation" {% if page.pill == 'ls' %} class="active" {% endif %}><a href="/docs/gradle/ls">ls</a></li>
        <li role="presentation" {% if page.pill == 'push' %} class="active" {% endif %}><a href="/docs/gradle/push">push</a></li>
        <li role="presentation" {% if page.pill == 'convert' %} class="active" {% endif %}><a href="/docs/gradle/convert">convert</a></li>
        <li role="presentation" {% if page.pill == 'pull' %} class="active" {% endif %}><a href="/docs/gradle/pull">pull</a></li>
        <li role="presentation" {% if page.pill == 'rm' %} class="active" {% endif %}><a href="/docs/gradle/rm">rm</a></li>
        <li role="presentation" {% if page.pill == 'run' %} class="active" {% endif %}><a href="/docs/gradle/run">run</a></li>
        <li role="presentation" {% if page.pill == 'scale' %} class="active" {% endif %}><a href="/docs/gradle/scale">scale</a></li>
        <li role="presentation" {% if page.pill == 'ps' %} class="active" {% endif %}><a href="/docs/gradle/ps">ps</a></li>
        <li role="presentation" {% if page.pill == 'kill' %} class="active" {% endif %}><a href="/docs/gradle/kill">kill</a></li>
        <li role="presentation" {% if page.pill == 'open' %} class="active" {% endif %}><a href="/docs/gradle/open">open</a></li>
        <li role="presentation" {% if page.pill == 'logs' %} class="active" {% endif %}><a href="/docs/gradle/logs">logs</a></li>
        <li role="presentation" {% if page.pill == 'inventory' %} class="active" {% endif %}><a href="/docs/gradle/inventory">inventory</a></li>
    </ul>

    {{ content }}
</div>