---
layout: docs
menu: gradle
subtitle: 'Gradle plugin'
---
<div id="getstarted-gradle">
    <ul class="nav nav-pills nav-pills-bar">
        <li role="presentation" {% if page.pill == 'Overview' %} class="active" {% endif %}><a href="/docs/gradle">Overview</a></li>
        <li role="presentation" {% if page.pill == 'create' %} class="active" {% endif %}><a href="/docs/gradle/create.html">create</a></li>
        <li role="presentation" {% if page.pill == 'cfg' %} class="active" {% endif %}><a href="/docs/gradle/cfg.html">cfg</a></li>
        <li role="presentation" {% if page.pill == 'fuse' %} class="active" {% endif %}><a href="/docs/gradle/fuse.html">fuse</a></li>
        <li role="presentation" {% if page.pill == 'ls' %} class="active" {% endif %}><a href="/docs/gradle/ls.html">ls</a></li>
        <li role="presentation" {% if page.pill == 'push' %} class="active" {% endif %}><a href="/docs/gradle/push.html">push</a></li>
        <li role="presentation" {% if page.pill == 'convert' %} class="active" {% endif %}><a href="/docs/gradle/convert.html">convert</a></li>
        <li role="presentation" {% if page.pill == 'pull' %} class="active" {% endif %}><a href="/docs/gradle/pull.html">pull</a></li>
        <li role="presentation" {% if page.pill == 'rm' %} class="active" {% endif %}><a href="/docs/gradle/rm.html">rm</a></li>
        <li role="presentation" {% if page.pill == 'run' %} class="active" {% endif %}><a href="/docs/gradle/run.html">run</a></li>
        <li role="presentation" {% if page.pill == 'scale' %} class="active" {% endif %}><a href="/docs/gradle/scale.html">scale</a></li>
        <li role="presentation" {% if page.pill == 'ps' %} class="active" {% endif %}><a href="/docs/gradle/ps.html">ps</a></li>
        <li role="presentation" {% if page.pill == 'kill' %} class="active" {% endif %}><a href="/docs/gradle/kill.html">kill</a></li>
        <li role="presentation" {% if page.pill == 'open' %} class="active" {% endif %}><a href="/docs/gradle/open.html">open</a></li>
        <li role="presentation" {% if page.pill == 'logs' %} class="active" {% endif %}><a href="/docs/gradle/logs.html">logs</a></li>
        <li role="presentation" {% if page.pill == 'inventory' %} class="active" {% endif %}><a href="/docs/gradle/inventory.html">inventory</a></li>
    </ul>

    {{ content }}
</div>