---
layout: default
tab: learn
title: Learn More
---
<div id="learn" class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="menu">
                <ul class="nav nav-pills nav-stacked">
                    <li
                    {% if page.menu == 'overview' %} class="active" {% endif %}>
                    <a href="/learn">Overview</a></li>
                    <li
                    {% if page.menu == 'why' %} class="active" {% endif %}>
                    <a href="/learn/why.html">Why Immutable Infrastructure?</a></li>
                    <li
                    {% if page.menu == 'how' %} class="active" {% endif %}>
                    <a href="/learn/how.html">How Boxfuse works</a></li>
                    <li
                    {% if page.menu == 'getstarted' %} class="active" {% endif %}>
                    <a href="/learn/getstarted.html">Get Started</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">

            {{ content }}

        </div>
    </div>
</div>