---
layout: docs
menu: maven
subtitle: 'Maven plugin'
---
<div id="getstarted-maven">
    <p class="doc-title">Maven plugin</p>

    <ul class="nav nav-pills nav-pills-bar">
        <li role="presentation" {% if page.pill == 'Overview' %} class="active" {% endif %}><a href="/docs/maven">Overview</a></li>
        <li role="presentation" {% if page.pill == 'create' %} class="active" {% endif %}><a href="/docs/maven/create.html">create</a></li>
        <li role="presentation" {% if page.pill == 'fuse' %} class="active" {% endif %}><a href="/docs/maven/fuse.html">fuse</a></li>
        <li role="presentation" {% if page.pill == 'ls' %} class="active" {% endif %}><a href="/docs/maven/ls.html">ls</a></li>
        <li role="presentation" {% if page.pill == 'push' %} class="active" {% endif %}><a href="/docs/maven/push.html">push</a></li>
        <li role="presentation" {% if page.pill == 'pull' %} class="active" {% endif %}><a href="/docs/maven/pull.html">pull</a></li>
        <li role="presentation" {% if page.pill == 'rm' %} class="active" {% endif %}><a href="/docs/maven/rm.html">rm</a></li>
        <li role="presentation" {% if page.pill == 'run' %} class="active" {% endif %}><a href="/docs/maven/run.html">run</a></li>
        <li role="presentation" {% if page.pill == 'scale' %} class="active" {% endif %}><a href="/docs/maven/scale.html">scale</a></li>
        <li role="presentation" {% if page.pill == 'ps' %} class="active" {% endif %}><a href="/docs/maven/ps.html">ps</a></li>
        <li role="presentation" {% if page.pill == 'kill' %} class="active" {% endif %}><a href="/docs/maven/kill.html">kill</a></li>
        <li role="presentation" {% if page.pill == 'open' %} class="active" {% endif %}><a href="/docs/maven/open.html">open</a></li>
        <li role="presentation" {% if page.pill == 'logs' %} class="active" {% endif %}><a href="/docs/maven/logs.html">logs</a></li>
        <li role="presentation" {% if page.pill == 'inventory' %} class="active" {% endif %}><a href="/docs/maven/inventory.html">inventory</a></li>
    </ul>

    {{ content }}
</div>