---
layout: docs
menu: maven
subtitle: 'Maven plugin'
---
<div id="getstarted-maven">
    <ul class="nav nav-pills nav-pills-bar">
        <li role="presentation" {% if page.pill == 'Overview' %} class="active" {% endif %}><a href="/docs/maven">Overview</a></li>
        <li role="presentation" {% if page.pill == 'create' %} class="active" {% endif %}><a href="/docs/maven/create">create</a></li>
        <li role="presentation" {% if page.pill == 'info' %} class="active" {% endif %}><a href="/docs/maven/info">info</a></li>
        <li role="presentation" {% if page.pill == 'cfg' %} class="active" {% endif %}><a href="/docs/maven/cfg">cfg</a></li>
        <li role="presentation" {% if page.pill == 'fuse' %} class="active" {% endif %}><a href="/docs/maven/fuse">fuse</a></li>
        <li role="presentation" {% if page.pill == 'ls' %} class="active" {% endif %}><a href="/docs/maven/ls">ls</a></li>
        <li role="presentation" {% if page.pill == 'push' %} class="active" {% endif %}><a href="/docs/maven/push">push</a></li>
        <li role="presentation" {% if page.pill == 'convert' %} class="active" {% endif %}><a href="/docs/maven/convert">convert</a></li>
        <li role="presentation" {% if page.pill == 'pull' %} class="active" {% endif %}><a href="/docs/maven/pull">pull</a></li>
        <li role="presentation" {% if page.pill == 'rm' %} class="active" {% endif %}><a href="/docs/maven/rm">rm</a></li>
        <li role="presentation" {% if page.pill == 'run' %} class="active" {% endif %}><a href="/docs/maven/run">run</a></li>
        <li role="presentation" {% if page.pill == 'scale' %} class="active" {% endif %}><a href="/docs/maven/scale">scale</a></li>
        <li role="presentation" {% if page.pill == 'ps' %} class="active" {% endif %}><a href="/docs/maven/ps">ps</a></li>
        <li role="presentation" {% if page.pill == 'kill' %} class="active" {% endif %}><a href="/docs/maven/kill">kill</a></li>
        <li role="presentation" {% if page.pill == 'open' %} class="active" {% endif %}><a href="/docs/maven/open">open</a></li>
        <li role="presentation" {% if page.pill == 'logs' %} class="active" {% endif %}><a href="/docs/maven/logs">logs</a></li>
        <li role="presentation" {% if page.pill == 'inventory' %} class="active" {% endif %}><a href="/docs/maven/inventory">inventory</a></li>
    </ul>

    {{ content }}
</div>